.main-header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    .label{
        width: min(50%, 300px);
        position: relative;
    }
    .search-icon{
        position: absolute;
        right: 0.75rem;
        top: 8px;
        font-size: 1rem;
        color: var(--grey);
    }
}

@media screen and (max-width: 768px) {
    .main-header-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .button-wrapper {
        flex-wrap: wrap;
    }
}

.button-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

    button {
        padding: 10px 15px;
        font-size: 0.8rem;
        background-color: var(--light-grey);
        color: var(--dark);
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: var(--grey);
            color: var(--background-color);
        }
        &.active {
            background-color: var(--grey);
            color: var(--white);
        }
    }
}

.art-review-wrapper {
    display: flex;
    gap: 3%;
    margin: 0 5% 5rem 5%;
}

.art-wrapper {
    width: 80%;
    border: 1px solid black;
    border-radius: 15px;
}

.img-wrapper {
    min-height: 60vh;
    img{
        width: 100%;
        border-radius: 15px;
    }

}

.img-info {
    h3 {
        text-align: left;
    }
    p {
        font-size: 14px;
    }
}

.art-description {
    padding: 0 10%;
}

.price {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--blue);
}

.img-wrapper, .review-wrapper{
    border-radius: 15px;
}



/* REVIEW */

.review-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    width: 60%;
    max-height: 90vh;
    padding: 15px;
    scroll-behavior: smooth;
    overflow: auto;
}

.space-between-for-two-components {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    .bi-plus-circle {
        font-size: 1.25rem;
    }
}

.review {
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    background-color: var(--grey);
    color: white;
}

.reviewer {
    font-size: 0.75rem;
    position: relative;
    img {
        max-width: 40px;
        border-radius: 50%;
    }
    .reviewer-name {
        position: absolute;
        top: -15px;
        left: 50px;
        font-weight: 600;
    }
    .review-date {
        position: absolute;
        top: 10px;
        left: 50px;
    }
}

.review-text {
    font-size: 12px;
}

.stars {
    display: flex;
    gap: 5px;
}

.create-art {
    position: fixed;
    color: var(--dark);
    bottom: 20%;
    right: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
        margin: 0;
        opacity: 0;
        font-size: 1.1rem;
        transform: translateX(100%); /* Positioned to the right */
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    i {
        font-size: 2.25rem;
        transition: color 0.3s ease;
    }
}


.create-art:hover p {
    opacity: 1;               /* Show the text on hover */
    transform: translateX(-15px);  /* Slide the text in from the right */
}

.create-art:hover i {
    color: var(--grey);
}