.main-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    .label{
        width: min(50%, 300px);
        position: relative;
    }
    .search-icon{
        position: absolute;
        right: 0.75rem;
        top: 8px;
        font-size: 1rem;
        color: var(--grey);
    }
}

@media screen and (max-width: 768px) {
    .main-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .button-wrapper {
        flex-wrap: wrap;
    }
}

.button-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

    button {
        padding: 10px 15px;
        font-size: 0.8rem;
        background-color: var(--light-grey);
        color: var(--dark);
        &:hover {
            background-color: var(--grey);
            color: var(--background-color);
        }
    }
}