/* src/App.css */
.login-container {
    width: min(60%, 400px);
    margin: 100px auto;
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    form div {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    .input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: var(--dark);
        color: var(--white);
        margin-top: 15px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 200ms ease-in;
    }
}


.login-container button:hover {
    background-color: #495057;
}

.links{
    margin-top: 1rem;
    margin-bottom: 0!important;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    a {
        color: var(--grey);
        transition: color 100ms ease-in;

        &:hover {
            color: var(--dark);
        }
    }
}
